<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Center</title>
    <!-- CSS only -->
<link rel="stylesheet" type="text/css" href="/assets/burger_style.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery.js"></script>
<body>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>

<div class="container">
  {{{body}}}

  <div class="col-md-6">
    <div class="card my-4">
      <h5 class="card-header text-center">Make and Devour Your Favorite Burgers!</h5>
      <div class="card-body">
        <div class="form-group">
          <label for="new_burger"></label>
          <textarea class="form-control" rows="4" id="new_burger" name="burger_name"></textarea>
          <button id="submit-button" type="submit" class="btn btn-danger mx-auto mt-4">Make a Burger</button>
        </div>
      </div>
    </div>
  </div>

</div>

 <!-- JS, Popper.js, and jQuery -->
 {{!-- <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script> --}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
<script rel="stylesheet" type="text/javascript" src="/assets/script.js"></script>
</body>
</html>